@import '_font';

$primaryColor: #302547;
$secondryColor: #f7c6c6;
$textPrimary: #fff;
$fontFamaily: Raleway, Roboto;

body {
    background-color: $primaryColor;
    color: $textPrimary;
    font: {
        family: $fontFamaily;
    }
}

div {
    display: flex;
}